geopandas
geopy
global_land_mask
great_expectations
pygeos
python_geohash
rtree
scikit_learn
scipy
setuptools
Shapely
timezonefinder
uszipcode
fiona>=1.10b2 # not directly required, pinned by Snyk to avoid a vulnerability
