dataprofiler
great_expectations
numpy
scikit-learn
tensorflow
networkx>=2.6 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
